html,body {
  height:100%;
}

h1 {
  font-family: Arial,sans-serif
  font-size:80px;
  color:#DDCCEE;
  max-width: 500px;
}

h1{
  display: block;
  margin: 0 auto;
}

.lead {
	color:#DDCCEE;
}

.fileselect {
  color: black;
}

.btn {
  background: url("../img/CameraButton.png") no-repeat;
  width: 50px;
  height: 50px;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#fff;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
  